body {
  font-family: Tahoma, Candara, Arial, Helvetica, sans-serif;
  line-height: 1.2;
  background: white;
  padding: 1em;
}

section {
  margin-top: 30px;
}

img {
  border: 1px solid #888;
  margin-bottom: 1px;
}
strong {
  /*color: mediumvioletred;*/
  font-family: Tahoma, Geneva, Arial, SunSans-Regular, sans-serif;
  font-weight: bold;
}

p {
  margin: 0.5em 0;
}

h4 {
  color: teal;
  font-weight: bold;
  font-size: 120%;
}

ul {
  margin: 0 0 1.5em 0;
  list-style:none;
  padding-left:0;
}
li {
  padding-top: 0.5em;
}

th {
  font-family: Tahoma, Geneva, Arial, SunSans-Regular, sans-serif;
  width:60px;
  font-weight: bold;
  text-align: left;
  vertical-align: bottom;
}

hr {
  margin-top: -14px;
}

/* Smartphones */
.media-body {
  display: table;
  width: 100%;
}
/* Tablets and PCs */
@media screen and (min-width: 768px) {
  .media-body {
    display: table-cell;
  }
}
